﻿@model IEnumerable<FeatureInfo>

<div >
    <table class="table">
        <thead>
            <tr>
                <th> FEATURE ID</th>
                <th> STATE</th>
            <tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.feature_id
                    </td>
                    <td>
                        <form asp-action="@ViewBag.feature_action_name" asp-controller="Server" method="post">
                            <input type="hidden" value="@($"{item.action}{CommonConstants.AND_ARG_RAW}")" name="feature_action">
                            <button type="submit" class="btn @(item.action_name == "ENABLE" ? "btn-success" : "btn-danger")">@item.action_name</button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>