﻿@{
    ViewData["Title"] = "FindPerson";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <td style="width:20%">
            @await Component.InvokeAsync( nameof( NavMenu ) )
        </td>
        <td>
            <form asp-action="ShowPersonInfo" method="post">
                <div class="form-group">
                    <label>Person ID:</label>
                    <input type="text" id="person_id" name="person_id" class="form-control" required minlength="1"/>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Find</button>
                </div>
            </form>
        </td>
    </tr>
</table>