﻿@{
    ViewData["Title"] = "GetFeatureStates";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <td style="width:20%">
            @await Component.InvokeAsync( nameof( NavMenu ) )
        </td>
        <td>
            @await Component.InvokeAsync( nameof( FeatureStates ) )
        </td>
    </tr>
</table>