﻿@{
    ViewData["Title"] = "Index";
}

<form asp-action="ServerMenu" method="post">
    <div class="form-group">
        <label>Host:</label>
        <input type="text" id="authority" name="authority" class="form-control" placeholder="http://192.168.1.1:25752/" required minlength="10" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Connect</button>
    </div>
</form>

