﻿@{
    ViewData["Title"] = "ServerMenu";
}

<table class="table">
    <tr>
        <td style="width:20%">
            @await Component.InvokeAsync( nameof( NavMenu ) )
        </td>
        <td>
        </td>
    </tr>
</table>
