﻿@model string
@{
    ViewData["Title"] = "ShowPersonInfo";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <td style="width:20%">
            @await Component.InvokeAsync( nameof( NavMenu ) )
        </td>
        <td>
            <div>
                <b> Person ID: @Model</b>
            </div>
            <br>
            @await Component.InvokeAsync( nameof( FeatureStates ), Model)
        </td>
    </tr>
</table>