﻿@model IEnumerable<CommandInfo>

<a class="btn btn-block btn-secondary" asp-action="Index" asp-controller="Server"> Home </a>
<a class="btn btn-block btn-secondary" asp-action="FindPerson" asp-controller="Server"> Find person </a>
@foreach (CommandInfo cmd in Model)
{
    <a class="btn btn-block btn-secondary" asp-action="@cmd.action" asp-controller="Server">@cmd.description</a>
}