﻿@model IEnumerable<string>

<div>
    <form method="post" asp-action="SetGlobalLogLevel" asp-controller="Server">
        <select id="log_level" name="log_level">
            @foreach (string log_level_name in Model)
            {
                if (ViewBag.curLogLevel == log_level_name)
                {
                    <option selected value="@log_level_name">@log_level_name</option>
                }
                else
                {
                    <option value="@log_level_name">@log_level_name</option>
                }
            }
        </select>
        <button type="submit" class="btn btn-primary btn-sm">change</button>
    </form>
</div>