﻿@model IEnumerable<ConfigItem>

<div>
    <table class="table table-bordered table-striped">
        <thead >
            <tr>
                <th> PARAM</th>
                <th> VALUE</th>
            <tr>
        </thead>
        <tbody>
            @foreach (ConfigItem cnfg_item in Model)
            {
                <tr>
                    <td>
                        @cnfg_item.key
                    </td>
                    <td>
                        @if ( cnfg_item.key == CommonConstants.ARG_GLOBAL_LOG_LEVEL )
                            @await Component.InvokeAsync( nameof( ServerLogLevels ) )
                        else
                            @cnfg_item.value
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>